/* ハンバーガーボタンのサイズ */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 10px;
    top: 10px;
}

/*サイドバーのスクロールバー */
.bm-burger-bars {
    background: #373a47;
}

/* ハンバーガーボタンをホバー時の色*/
.bm-burger-bars-hover {
    background: #005b99;
}

/* サイドバー×ボタンのサイズ */
.bm-cross-button {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

/* ×ボタンの色 */
.bm-cross {
    background: #373a47;
}

/* サイドバー全体のサイズ */
.bm-menu-wrap {
    position: fixed;
    height: 100%;
    max-width: 201px;
}